<div class="wrapper">
  <div class="container">
    <h2 class="page-title">wishlist<strong class="logo-period-profile">.</strong></h2>
  </div>
</div>
<% if @wish.count.zero? %>
  <div class="wrapper">
    <div class="container">
      <p>Wishlist is empty.</p>
    </div>
  </div>
<% else %>
  <div class="row">
    <% @wish.each do |wish| %>
      <div class="col-xs-12">
        <%= link_to activity_path(wish.activity) do %>
          <div class="wish-card" id="wish_card_<%= wish.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= wish.activity.photo %>');">
            <div class="wish-card-description">
              <h2><%= wish.activity.title.upcase %></h2>
              <div class="wish-card-sub-description">
                <p><%= wish.activity.price %></p>
                <p><%= wish.activity.location %></p>
              </div>
            </div>
            <%= link_to wish_path(Wish.where(user: current_user, activity: wish.activity).first.id), method: :delete, remote: true do %>
              <div class="heart-for-wish">
                <i class="fas fa-heart" style="color: #ED4956;"></i>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>



