<div class="wrapper">
  <div class="back-arrow">
    <%= link_to :back, class: 'back-to-conversations' do %>
      <%= image_tag 'left_arrow.png', class: "back-button" %>
    <% end %>
  </div>
  <div class="container">
    <%= render 'comments' %>
    <%= render 'comments_form' %>
  </div>
</div>
<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/comments' %>
<% end %>
