<div class="wrapper">
  <%= link_to :back do %>
    <i class="fas fa-long-arrow-alt-left" style="font-size: 25px; margin: 3px;"></i>
  <% end %>
  <div class="container">
    <%= render 'comments' %>
    <%= render 'comments_form' %>
  </div>
</div>
<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/comments' %>
<% end %>
