<%= link_to conversation_path(conversation), class:"message-card-link" do %>
<!-- web view -->
  <div class="message hidden-xs">
    <div class="left-div">
      <% if recipient.photo? %>
        <%= cl_image_tag(recipient.photo, class:"avatar-large") %>
      <% else %>
        <%= image_tag('default-avatar.png', class: "avatar-large") %>
      <% end %>
      <div class="recipient-name">
        <div style="border-right:1px solid #000; height:50px; border-color: rgba(0, 0, 0, 0.3); width: 150px; align-items: left; display: flex;">
          <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
            <strong>
              <%= "#{recipient.first_name.capitalize} #{recipient.last_name.capitalize}" %>
            </strong>
          </p>
        </div>
      </div>
      <div class="message-body" style="max-width: 200px;">
        <% if conversation.messages.empty? %>
          <p>No Messages yet</p>
        <% else %>
          <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><em><%= conversation.messages.last.body %></em></p>
        <% end %>
      </div>
    </div>
    <div class="right-div">
      <% unless conversation.messages.empty? %>
        <% if unread_messages.zero? && conversation.id == params[:id].to_i %>
          <p class="date-created"><%= conversation.messages.last.message_time %></p>
        <% elsif unread_messages.zero? %>
          <p class="date-created"><%= conversation.messages.last.message_time %></p>
        <% else %>
          <div class="avatar-unread-messages avatar" style="background-color: red; color: white;">
            <%= unread_messages %>
          </div>
          <p class="date-created"><%= conversation.messages.last.message_time %></p>
        <% end %>
      <% end %>
    </div>
  </div>

<!-- mobile view -->
  <div class="message hidden-md hidden-lg hidden-xl hidden-sm" style="padding: 0; margin: 0;">
    <div class="left-div">
      <% if recipient.photo? %>
        <%= cl_image_tag(recipient.photo, class:"avatar-large") %>
      <% else %>
        <%= image_tag('default-avatar.png', class: "avatar-large") %>
      <% end %>
      <div class="recipient-info">
        <div style="align-items: left;">
          <p class="recipient-name" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
            <strong>
              <%= "#{recipient.first_name.capitalize} #{recipient.last_name.capitalize}" %>
            </strong>
          </p>
        </div>
        <div class="message-body" style="max-width: 200px;">
          <% if conversation.messages.empty? %>
            <p style="font-size: 10px;">No Messages yet</p>
          <% else %>
            <p style="font-size: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100px;"><em><%= conversation.messages.last.body %></em></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="right-div">
      <% unless conversation.messages.empty? %>
        <% if unread_messages.zero? && conversation.id == params[:id].to_i %>
          <p class="date-created" style="font-size: 8px;"><%= conversation.messages.last.message_time %></p>
        <% elsif unread_messages.zero? %>
          <p class="date-created" style="font-size: 8px;"><%= conversation.messages.last.message_time %></p>
        <% else %>
          <div class="avatar-unread-messages avatar-sm" style="background-color: red; color: white; font-size:10px;">
            <%= unread_messages %>
          </div>
          <p class="date-created" style="font-size: 8px;"><%= conversation.messages.last.message_time %></p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<hr style="margin: 10px 0;">
