<%= link_to conversation_path(conversation), class:"message-card-link" do %>
  <div class="message">
    <div class="left-div">
      <% if recipient.photo? %>
        <%= cl_image_tag(recipient.photo, class:"avatar-large") %>
      <% else %>
        <%= image_tag('default-avatar.png', class: "avatar-large") %>
      <% end %>
      <div class="recipient-name">
        <div style="border-right:1px solid #000; height:50px; border-color: rgba(0, 0, 0, 0.3); width: 150px; align-items: left; display: flex;">
          <p>
            <strong>
              <%= "#{recipient.first_name.capitalize} #{recipient.last_name.capitalize}" %>
            </strong>
          </p>

        </div>
      </div>
      <div class="message-body">
        <% if conversation.messages.empty? %>
          <p>No Messages yet</p>
        <% else %>
          <p><em><%= conversation.messages.last.body %></em></p>
        <% end %>
      </div>
    </div>
    <div class="right-div">
      <% unless conversation.messages.empty? %>
        <% if unread_messages.zero? && conversation.id == params[:id].to_i %>
          <p class="date-created"><%= conversation.messages.last.message_time %></p>
        <% elsif unread_messages.zero? %>
          <p class="date-created"><%= conversation.messages.last.message_time %></p>
        <% else %>
          <div class="avatar-unread-messages avatar" style="background-color: red; color: white;">
            <%= unread_messages %>
          </div>
          <p class="date-created"><%= conversation.messages.last.message_time %></p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<hr style="border-color: rgba(0, 0, 0, 0.3);">
