<div class="message-wrapper">
  <div style="height: 75px;">
    <div class="header-inbox">
      <div class="back-arrow">
        <%= link_to :back, class: 'back-to-conversations' do %>
          <%= image_tag 'left_arrow.png', class: "back-button" %>
        <% end %>
      </div>
      <div class="user-info-inbox">
        <div class="user-info-inbox-name">
          <h2 class="inbox-title text-center user-inbox">
            <% if @conversation.sender_id == current_user.id || @conversation.recipient_id == current_user.id %>
              <% if @conversation.sender_id == current_user.id %>
                <% recipient = User.find(@conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(@conversation.sender_id) %>
              <% end %>
              <%= link_to user_path(recipient) do %>
                <% if recipient.photo? %>
                  <%= cl_image_tag(recipient.photo, class:"avatar-large") %>
                <% else %>
                  <%= image_tag('default-avatar.png', class: "avatar-large") %>
                <% end %>
              <% end %>
            <% end %>
          </h2>
          <div class="recipient-name-show">
            <%= link_to user_path(recipient) do %>
              <p><strong><%= "#{recipient.first_name.capitalize} #{recipient.last_name.capitalize}" %></strong></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inbox">
    <hr style="margin: 0;">
      <div class="messages" id="messages" style="background-image: url('<%= image_url 'question-background.png' %>'); background-size: cover; background-position: center;">
        <ul class="list-unstyled" id="message-list" style="margin: 0;">
          <% @messages.each_with_index do |message, index| %>
            <% if message.body %>
              <% user = User.find(message.user_id) %>
              <% if user == current_user %>
                <li>
                  <div class="message-div" style="justify-content: flex-end;">
                    <div class="message-right" style="max-width: 85%;">
                      <div class="message-sender">
                        <p><%= message.body %></p>
                        <span class="message-time"><%= message.created_at.strftime("%I:%M%p") %></span>
                      </div>
                    </div>
                  </div>
                </li>
              <% else %>
                <li>
                  <div class="message-div" style="justify-content:flex-start;">
                    <div class="message-left" style="max-width: 85%;">
                      <div class="message-receiver">
                        <p>
                          <%= message.body %>
                          <span class="message-time"><%= message.created_at.strftime("%I:%M%p") %></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
      <hr style="margin: 0;">
        <div class="send-message-box-container">
          <div class="send-message-box">
            <%= render 'form_message', conversation: @conversation, message: @message %>
          </div>
        </div>
    </div>
  </div>
</div>
<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/message' %>
<% end %>
