<div class="wrapper">
  <div class="container">
    <div class="header-inbox">
      <%= link_to :back, class: 'back-to-conversations' do %>
            <i class="fas fa-long-arrow-alt-left" style="font-size: 25px;"></i>
          <% end %>
      <div class="user-info-inbox">
        <div class="user-info-inbox-name">
          <h2 class="inbox-title text-center user-inbox">
            <% if @conversation.sender_id == current_user.id || @conversation.recipient_id == current_user.id %>
              <% if @conversation.sender_id == current_user.id %>
                <% recipient = User.find(@conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(@conversation.sender_id) %>
              <% end %>
              <%= link_to user_path(recipient) do %>
                <% if recipient.photo? %>
                  <%= cl_image_tag(recipient.photo, class:"avatar-large") %>
                <% else %>
                  <%= image_tag('default-avatar.png', class: "avatar-large") %>
                <% end %>
              <% end %>
            <% end %>
          </h2>
          <div class="recipient-name-show">
            <p><%= "#{recipient.first_name.capitalize} #{recipient.last_name.capitalize}" %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="inbox">
      <div class="messages" id="messages">
        <ul class="list-unstyled" id="message-list" style="margin: 0;">
          <% @messages.each_with_index do |message, index| %>
            <% if message.body %>
              <% user = User.find(message.user_id) %>
              <% if user == current_user %>
                <li>
                  <div class="message-div" style="justify-content: flex-end;">
                    <div class="message-right">
                      <p class="message-sender text-justify">
                        <%= message.body %>
                      </p>
                    </div>
                  </div>
                </li>
              <% else %>
                <li>
                  <div class="message-div" style="justify-content:flex-start;">
                    <div class="message-left">
                      <p class="message-receiver text-justify" style="color: black;">
                        <%= message.body %>
                      </p>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
      <%= render 'form_message', conversation: @conversation, message: @message %>
    </div>
  </div>
</div>


<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/message' %>
<% end %>
