<div class="wrapper profile-wrapper">
  <%= link_to :back do %>
    <%= image_tag 'left_arrow.png', class: "back-button" %>
  <% end %>
  <div class="container text-center profile-container" id="profile-info">
    <% if @user.photo? %>
      <%= cl_image_tag(@user.photo, width: 150, height: 150, crop: :fill, class:"avatar-xl") %>
    <% else %>
      <%= image_tag('default-avatar.png', width: 150, height: 150, crop: :fill, class:"avatar-xl") %>
    <% end %>
    <div class="interaction">
      <div class="follow-unfollow" id="follow-unfollow">
        <% if Follower.find_by(user_id: @user, follower_id: current_user.id).nil? %>
          <%= link_to 'FOLLOW', user_followers_path(@user), method: :post, remote: true, id:"follow" %>
        <% else %>
          <%= link_to 'UNFOLLOW', follower_path(Follower.find_by(user_id: @user, follower_id: current_user.id)), method: :delete, remote: true, id:"unfollow" %>
        <% end %>
      </div>
      <div class="contact">
        <%= link_to 'CONTACT', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, id:'contact_user' %>
      </div>
    </div>
    <hr>
    <% if User.CO_FOUNDERS.include?(@user.email) %>
      <h1 class="page-title text-center name-profile" style="margin: 40px auto 10px auto !important;"><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %><strong class="logo-period-profile">.</strong> </h1>
      <p><em>co-founder</em></p>
    <% else %>
      <h1 class="page-title text-center name-profile"><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %><strong class="logo-period-profile" style="margin: 40px auto !important;">.</strong> </h1>
    <% end %>
    <hr>
    <div class="followers-followings-hostings">
      <div class="hostings">
        <p>Hostings</p>
        <p><%= @user.events.count %></p>
      </div>
      <%= link_to followers_path(@user.id) do %>
        <div class="followers">
          <p>Followers</p>
          <p id="follower_count"><%= @user.followers.count %></p>
        </div>
      <% end %>
      <%= link_to following_path(@user.id) do %>
        <div class="followings">
          <p>Following</p>
          <p id="following_count"><%= Follower.where(follower_id: @user.id).count %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

