<div class="navbar-wagon">
  <div class="navbar-l">
    <div class='weather-icon'>
      <% if @today.downcase.include? "broken clouds" %>
        <p><i class="fas fa-cloud"></i> <%= @temperature %>˚C</p>
      <% elsif @today.downcase.include? "rain" %>
        <p><i class="fas fa-umbrella"></i> <%= @temperature %>˚C</p>
      <% elsif @today.downcase.include? "scattered clouds" %>
        <p><i class="fas fa-cloud"></i> <%= @temperature %>˚C</p>
      <% elsif @today.downcase.include? "few clouds" %>
        <p><i class="fas fa-cloud-sun"></i> <%= @temperature %>˚C</p>
      <% elsif @today.downcase.include? "thunderstorm" %>
        <p><i class="fas fa-bolt"></i> <%= @temperature %>˚C</p>
      <% elsif @today.downcase.include? "clear sky" %>
        <p><i class="fas fa-sun"></i> <%= @temperature %>˚C</p>
      <% elsif @today.downcase.include? "hot" %>
        <p><i class="fas fa-temperature-high"></i> <%= @temperature %>˚C</p>
      <% elsif @today.downcase.include? "foggy" %>
        <p><i class="fas fa-smog"></i> <%= @temperature %>˚C</p>
      <% elsif @today.downcase.include? "snow" %>
        <p><i class="fas fa-snowflake"></i> <%= @temperature %>˚C</p>
      <% elsif @today.downcase.include? "shower rain" %>
        <p><i class="fas fa-cloud-rain"></i> <%= @temperature %>˚C</p>
      <% elsif @today.downcase.include? "windy" %>
        <p><i class="fas fa-wind"></i> <%= @temperature %>˚C</p>
      <% else %>
        <p><i class="fas fa-wind"></i> <%= @temperature %>˚C</p>
      <% end %>
    </div>
  </div>
      <!-- Logo -->
  <div class="navbar-m">
    <div class="logo">
      <%= link_to root_path do %>
        <p class="logo-text">idk<strong class="logo-period">.</strong></p>
      <% end %>
    </div>
  </div>
  <!-- Right Navigation -->

  <div class="navbar-r">
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <% if user_signed_in? %>

        <!-- Links when logged in -->
        <% conversations = Conversation.where(recipient_id: current_user.id).or(Conversation.where(sender_id: current_user.id)) %>
        <% unread_messages = [] %>
        <% conversations.each do |conversation| %>
          <% conversation.messages.each do |message| %>
            <% unread_messages << message %>
          <% end %>
        <% end %>
        <% unread_messages = unread_messages.reject { |message| message.read || message.user_id == current_user.id }.count %>
        <% if unread_messages.zero? %>
          <%= link_to "INBOX", conversations_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <% else %>
          <%= link_to "INBOX (#{unread_messages})", conversations_path, class: "navbar-wagon-item navbar-wagon-link unread" %>
        <% end %>
        <%= link_to "WISHLIST", wishes_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "FEED", feed_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "MY EVENTS", events_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <% if (Hosting.where(user_id: current_user, status: 'pending') + Follower.where(user_id: current_user, count: 0).or(Follower.where(user_id: current_user, count: 1))).count.zero? %>
          <%= link_to notifications_path, class: "navbar-wagon-item navbar-wagon-link notification-logo" do %>
            <i class="fas fa-bell"></i>
          <% end %>
        <% else %>
          <%= link_to notifications_path, class: "navbar-wagon-item navbar-wagon-link notification-logo" do %>
            <i class="fas fa-bell" style="position: relative;">
              <span class="red-dot" style=" position: absolute; height: 7px; width: 7px; background: red; top: -2px; right: -1px; border-radius: 50%;"></span>
            </i>
          <% end %>
        <% end %>
        <div class="dropdown">
          <i class="fas fa-bars dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to search_path, class: "navbar-wagon-item navbar-wagon-link" do %>
                <i class="fas fa-search"></i> FIND FRIENDS
              <% end %>
            </li>
            <li>
              <% if current_user.photo? %>
                <%= link_to profile_path do %>
                  <%= cl_image_tag current_user.photo, class:'avatar-sm' %> <%= t(".profile", default: "PROFILE") %>
                <% end %>
              <% else %>
                <%= link_to profile_path do %>
                  <%= image_tag 'default-avatar.png', class:'avatar-sm' %> <%= t(".profile", default: "PROFILE") %>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "SIGN OUT") %>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="login-link-navbar" style="flex-grow: 1">
          <% unless (params[:controller] == "devise/sessions" && (params[:action] == "new" || (params[:action] == "create"))) %>
            <%= link_to t(".sign_in", default: "SIGN IN"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <% end %>
          <% if ((params[:controller] == 'devise/sessions') && (params[:action] == 'new' || params[:action] == 'create')) %>
            <%= link_to t(".sign_up", default: "SIGN UP"), new_registration_path(resource_name), class: "navbar-wagon-item navbar-wagon-link" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item mobile-right hidden-md hidden-lg">
      <% if user_signed_in? %>
        <% if Hosting.where(user_id: current_user.id, status: 'pending').count.zero? %>
          <%= link_to notifications_path, class: "navbar-wagon-item navbar-wagon-link notification-logo" do %>
            <i class="fas fa-bell"></i>
          <% end %>
        <% else %>
          <%= link_to notifications_path, class: "navbar-wagon-item navbar-wagon-link notification-logo" do %>
            <i class="fas fa-bell" style="position: relative;">
              <span class="red-dot" style=" position: absolute; height: 7px; width: 7px; background: red; top: -2px; right: -1px; border-radius: 50%;"></span>
            </i>
          <% end %>
        <% end %>
        <div class="dropdown">
          <% conversations = Conversation.where(recipient_id: current_user.id).or(Conversation.where(sender_id: current_user.id)) %>
          <% unread_messages = [] %>
          <% conversations.each do |conversation| %>
            <% conversation.messages.each do |message| %>
              <% unread_messages << message %>
            <% end %>
          <% end %>
          <% unread_messages = unread_messages.reject { |message| message.read || message.user_id == current_user.id }.count %>
          <% if unread_messages.zero? %>
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <% else %>
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" style="color: red !important"> <%= unread_messages %></i>
          <% end %>
          <ul class="dropdown-menu pull-right navbar-wagon-dropdown-menu">
            <% if unread_messages.zero? %>
              <li>
                <%= link_to conversations_path, class: "navbar-wagon-item navbar-wagon-link" do %>
                  <i class="fas fa-inbox"></i> INBOX
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to conversations_path, class: "navbar-wagon-item navbar-wagon-link unread" do %>
                  <i class="fas fa-inbox"></i> INBOX (<%= unread_messages %>)
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to wishes_path, class: "navbar-wagon-item navbar-wagon-link" do %>
                <i class="fas fa-heart"></i> WISHLIST
              <% end %>
            </li>
            <li>
              <%= link_to feed_path, class: "navbar-wagon-item navbar-wagon-link" do %>
                <i class="fas fa-chart-line"></i> FEED
              <% end %>
            </li>
            <li>
              <%= link_to events_path, class: "navbar-wagon-item navbar-wagon-link" do %>
                <i class="far fa-calendar-alt"></i> MY EVENTS
              <% end %>
            </li>
            <li>
              <%= link_to search_path, class: "navbar-wagon-item navbar-wagon-link" do %>
                <i class="fas fa-search"></i> FIND FRIENDS
              <% end %>
            </li>
            <li>
              <% if current_user.photo? %>
                <%= link_to profile_path do %>
                  <%= cl_image_tag current_user.photo, class:'avatar-sm' %> <%= t(".profile", default: "PROFILE") %>
                <% end %>
              <% else %>
                <%= link_to profile_path do %>
                  <%= image_tag 'default-avatar.png', class:'avatar-sm' %> <%= t(".profile", default: "PROFILE") %>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "SIGN OUT") %>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <% unless (params[:controller] == "devise/sessions" && (params[:action] == "new" || (params[:action] == "create"))) %>
          <%= link_to t(".sign_in", default: "SIGN IN"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <% end %>
        <% if ((params[:controller] == 'devise/sessions') && (params[:action] == 'new' || params[:action] == 'create')) %>
          <%= link_to t(".sign_up", default: "SIGN UP"), new_registration_path(resource_name), class: "navbar-wagon-item navbar-wagon-link" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



