<%= form_for @event do |f| %>
<%= render 'shared/error_messages' %>
  <div class="container">
    <div class="row">
          <%= f.label :title, 'Event NAME', class:"form-control-label input-new" %>
          <%= f.text_field :title, class:"form-control input" %>
          <%= f.label :description, 'DESCRIPTION', class:"form-control-label" %>
          <%= f.text_field :description, class:"form-control input" %>
          <%= f.label :date, 'LOCATION', class:"form-control-label"  %>
          <%= f.text_field :date, class:"form-control input"%>
          <%= f.label :guests, 'CAPACITY', class:"form-control-label" %>
          <%= f.text_field :guests, class:"form-control input" %>
          <% end %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

