<div class="form-check">
  <input class="hidden" type="checkbox" value="<%= user.id %>" name="hosting[user_id][]" id="hosting_user_id_<%=user.id %>">
  <label class="user_choice" data-user-id="<%= user.id %>" for="hosting_user_id_<%= user.id %>">
    <div class="user-info" id="info-<%= user.id %>">
      <% if user.photo? %>
        <%= cl_image_tag(user.photo, width: 200, height: 200, crop: :fill, class:"avatar-large inactive", id: "user_avatar_#{user.id}") %>
      <% else %>
        <%= image_tag('default-avatar.png', width: 200, height: 200, crop: :fill, class:"avatar-large inactive", id: "user_avatar_#{user.id}") %>
      <% end %>
      <p id="name_<%= user.id %>" style="font-size: 13px;"><%= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %></p>
    </div>
  </label>
</div>
