<div class="wrapper">
  <div class="container">
    <h2 class="page-title">your events<strong class="logo-period-profile">.</strong></h2>
    <% if @all_events.count.zero? %>
      <p>You haven't booked any events yet.</p>
    <% else %>
      <% @all_events.each do |event| %>
        <%= link_to event_path(event) do %>
          <div class="event-card">
            <div class="event-avatar">
              <%= cl_image_tag event.activity.photo, class: 'avatar-large' %>
            </div>
            <div class="event-info">
              <% unless current_user.id == event.user.id %>
                <p><%= "#{event.user.first_name.capitalize} #{event.user.last_name} invited you to the event at" %></p>
              <% end %>
              <p><%= event.title %>, on <strong><%= event.date.strftime('%A, %b %d') %></strong></p>
            </div>
          </div>
          <hr>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
