<div class="wrapper">
  <div class="event-image">
    <%= cl_image_tag @activity.photo, class: 'event-photo' %>
  </div>
  <div class="container">
    <h5>You are going to <%= @event.title %>, on <strong><%= @event.date.strftime('%A, %b %d') %></strong><br><em>(<%= @event.guests %> going)</em></h5>
    <hr>
    <p>description: <%= @event.description %></p>
    <hr>
    <div class="event-links">
      <div class="more-info">
        <%= link_to activity_path(@activity) do %>
          <p style="margin: 0;"><i class="fas fa-info"></i> More Info</p>
        <% end %>
      </div>
      <div class="delete-event">
        <%= link_to event_path(@event), method: :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
    <%= link_to :back do %>
      <i class="fas fa-long-arrow-alt-left" style="font-size: 25px;"></i>
    <% end %>
  </div>
</div>


