<div class="wrapper">
  <div class="event-show-page">
    <div class="event-image">
      <%= cl_image_tag @activity.photo , crop: :fit %>
    </div>
    <div class="container">
      <h5>You are going to <%= @event.title %> <em>(<%= @event.guests %> going)</em></h5>
      <hr>
      <p>description: <%= @event.description %></p>
      <p>when: <%= @event.date.strftime('%A, %b %d') %></p>
      <hr>
      <%= link_to activity_path(@activity) do %>
        <p><i class="fas fa-info"></i> More Info</p>
      <% end %>
    </div>
  </div>
</div>


