<div class="wrapper">
  <div class="container">
    <h2 class="page-title">feed<strong class="play-show-dot">.</strong></h2>
    <% if @events.count.zero? %>
      <p>You have boring friends.</p>
    <% else %>
      <% @events.each do |event| %>
        <%= link_to user_path(event.user) do %>
          <div class="feed-card">
            <div class="feed-card-top">
              <div class="feed-card-left">
                <% if event.user.photo? %>
                  <%= cl_image_tag(event.user.photo, width: 200, height: 200, crop: :fill, class:"avatar-large") %>
                <% else %>
                  <%= image_tag('default-avatar.png', width: 200, height: 200, crop: :fill, class:"avatar-large") %>
                <% end %>
                <p> <strong><%=" #{event.user.first_name.capitalize} #{event.user.last_name.capitalize}" %></strong> <%= "is going to" %> <em><%= "#{event.activity.title}" %></em></p>
              </div>
              <div class="feed-card-right">
                <% time = "#{((Time.now - event.created_at) / 60).floor}m" %>
                <% if (((Time.now - event.created_at) / 60).floor) > 60 %>
                  <% time = "#{(((Time.now - event.created_at) / 3600).floor)}h" %>
                  <% if (((Time.now - event.created_at) / 3600).floor) > 24 %>
                    <% time = "#{((Time.now - event.created_at) / (3600 * 24)).floor}d" %>
                    <% if ((Time.now - event.created_at) / (3600 * 24)).floor > 7 %>
                      <% time = "#{((Time.now - event.created_at) / (3600 * 24 * 7)).floor}w" %>
                    <% end %>
                  <% end %>
                <% end %>
                <p id="time-feed"><%= time %></p>
              </div>
            </div>
            <div class="feed-card-bottom">
              <% if Like.find_by(user: current_user, event: event) %>
                <%= link_to like_path(Like.find_by(user: current_user, event: event)), method: :delete, remote: true, id:"event_dislike_#{event.id}" do %>
                  <i class="fas fa-thumbs-up" style="margin: 0 5px; font-size: 20px; color: #FFCB02;"></i>
                <% end %>
              <% else %>
                <%= link_to event_likes_path(event), method: :post, remote: true, id:"event_like_#{event.id}" do %>
                  <i class="far fa-thumbs-up" style="margin: 0 5px; font-size: 20px;"></i>
                <% end %>
              <% end %>
              <%= link_to event_comments_path(event) do %>
                <i class="far fa-comment-alt" style="margin: 0 5px; font-size: 20px;"></i>
              <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
