<div class="wrapper profile-wrapper">
  <div class="back-arrow">
    <%= link_to :back, class: 'back-to-conversations' do %>
      <%= image_tag 'left_arrow.png', class: "back-button" %>
    <% end %>
  </div>
  <div class="container text-center profile-container">
    <% if current_user.photo? %>
      <%= cl_image_tag(current_user.photo, width: 150, height: 150, crop: :fill, class:"avatar-xl") %>
    <% else %>
      <%= image_tag('default-avatar.png', width: 150, height: 150, crop: :fill, class:"avatar-xl") %>
    <% end %>
    <br>
    <button id="edit-profile-button"><%= link_to 'EDIT PROFILE', edit_user_registration_path %></button>
    <hr>
    <% if User.CO_FOUNDERS.include?(current_user.email) %>
      <h1 class="page-title text-center name-profile" style="margin: 40px auto 10px auto !important;"><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %><strong class="logo-period-profile">.</strong> </h1>
      <p><em>co-founder</em></p>
    <% else %>
      <h1 class="page-title text-center name-profile"><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %><strong class="logo-period-profile" style="margin: 40px auto !important;">.</strong> </h1>
    <% end %>
    <hr>
    <div class="followers-followings-hostings">
      <%= link_to events_path do %>
        <div class="hostings">
          <p><%= current_user.events.count %></p>
          <p>Hostings</p>
        </div>
      <% end %>
      <%= link_to followers_path(current_user.id) do %>
        <div class="followers">
          <p><%= current_user.followers.count %></p>
          <p>Followers</p>
        </div>
      <% end %>
      <%= link_to following_path(current_user.id) do %>
        <div class="followings">
          <p><%= Follower.where(follower_id: current_user.id).count %></p>
          <p>Following</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
