<div class="wrapper">
  <div class="container">
    <h2 class="page-title">find friends<strong class="food-show-dot">.</strong></h2>
    <div class="wrap">
      <div class="search">
        <%= form_tag(search_path, method: :get, class: "search-form") do %>
          <%= text_field_tag(:name, "", placeholder: "find friends...", class:"searchTerm") %>
          <%= button_tag type: 'submit', name: nil, class: "searchButton" do %>
            <i class="fas fa-search search-icon"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="users-search">
        <% @users.each do |user| %>
          <div class="col-xs-4">
            <div class="user-card">
              <%= link_to user_path(user) do %>
                <div class="user-info" style="margin: 20px 10px;">
                  <% if user.photo? %>
                    <%= cl_image_tag(user.photo, width: 200, height: 200, crop: :fill, class:"avatar-large") %>
                  <% else %>
                    <%= image_tag('default-avatar.png', width: 200, height: 200, crop: :fill, class:"avatar-large") %>
                  <% end %>
                  <p style="font-size: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
