<div class="container">
  <h2 class="text-center"><%= @category.title %></h2>
  <div class="row">
    <% @activities.each do |activity| %>
      <div class="col-xs-12">
        <div class="card">
          <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://dviq2fr5a4i8l.cloudfront.net/images/_listingGrid/Andina-NH-Homepage-2.jpg?mtime=20180531173725');">
          </div>
          <div class="card-info" id="card_<%= activity.id %>">
            <p><%= link_to activity.title.upcase, activity_path(activity) %></p>
            <% unless Wish.where(user: current_user, activity: activity).count.zero? %>
              <p><%= link_to "Remove from Wishlist", wish_path(Wish.where(user: current_user, activity: activity).first.id), method: :delete, remote: true, id: "activity_#{activity.id}" %></p>
            <% else %>
              <p><%= link_to "Add to Wishlist", activity_wishes_path(activity), method: :post, remote: true, id: "activity_#{activity.id}" %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
























<!--       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
 -->


