<input type="checkbox" id="toggle">
<aside class="sliding-panel">
  <div class="search-container text-center">
    <div class="row">
      <div class="col-xs-12">
          <%= form_tag(category_path(@category), :method => "get", id: "search-form", class: "form-group text-center") do %>
            <%= select_tag "number_of_people", options_for_select([ "Alone", "Couple", "Small Group", "Large Group" ], params[:number_of_people]), class: "form-control index-search", prompt: "Number of people" %>
            <%= select_tag "who_are_you_with", options_for_select([ "Parents", "Friends", "Mistress", "Partner", "Co Worker", "Someone from out of town", "Grandparents", "The Boys", "The Girls", "Boss" ], params[:who_are_you_with]), class: "form-control index-search", prompt: "Who are you with" %>
            <%= select_tag "location", options_for_select([ "Covent Garden", "Soho", "West End", "Southbank", "City of London", "Chinatown", "Camden Town", "Islington", "Hamstead", "Notting Hill", "South Kensington", "Shoreditch", "Peckham", "Brixton" ], params[:location]), class: "form-control index-search", prompt: "Location" %>
            <%= select_tag "vibe", options_for_select([ "Romantic", "Sexy", "Chill",  "Quiet", "Swanky", "Loud", "Trendy", "Posh", "Discreet",  "With a view" ], params[:vibe]), class: "form-control index-search", prompt: "Vibe" %>
            <%= submit_tag "UPDATE", :name => nil, class: "search-button" %>
          <% end %>
        </div>
      </div>
      <label for="toggle">FILTERS</label>
  </div>
</aside>

<!-- CARDS -->

<div class="container no-gutters" style="margin-top: 25px;">
  <% if @category.title == "adventure" %>
    <h2 class="category-title text-center">play<strong class="category-show-dot">.</strong></h2>
  <% else %>
    <h2 class="category-title text-center"><%= @category.title %><strong class="category-show-dot">.</strong></h2>
    <% end %>
  <br>
  <div class="row">
    <% @activities.each do |activity| %>
      <% if @coordinates.all? %>
        <% @distance = activity.distance_from(@coordinates, units: :kms) %>
        <% @direction = activity.heading_to(@coordinates) %>
      <% end %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to activity_path(activity), id:"cardlink_#{activity.id}" do %>
          <div class="card" id="card_<%= activity.id %>">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= activity.photo %>');">
            </div>
            <div class="card-info" id="card_info_<%= activity.id %>">
              <p><%= activity.title.upcase %></p>
              <% if @distance && @direction %>
                <p><%= @distance.round(1) %>km away</p>
              <% end %>
              <% if user_signed_in? %>
                <% unless Wish.where(user: current_user, activity: activity).count.zero? %>
                  <%= link_to wish_path(Wish.where(user: current_user, activity: activity).first.id), method: :delete, remote: true, id: "activity_#{activity.id}" do %>
                    <i class="fas fa-heart" style="color: #ED4956; font-size: 25px;"></i>
                  <% end %>
                <% else %>
                  <%= link_to activity_wishes_path(activity), method: :post, remote: true, id: "activity_#{activity.id}" do %>
                    <i class="far fa-heart" style="font-size: 25px;"></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path do %>
                  <i class="far fa-heart" style="font-size: 25px;"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- check that activity photo is replicated on all cards -->
