<h1>Activites Show page</h1>



<button type="button" class="btn btn-default btn-homepage" data-toggle="modal" data-target="#exampleModalCenter">
  Create Event
</button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          <h2 class="modal-title" id="exampleModalLongTitle">Create Your event</h2>
        </div>
        <%= form_for [@activity, @event] do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :title, 'Title' %>
            <%= f.text_field :title, class:"form-control input" %>
          </div>
          <div class="form-group">
            <%= f.label :description, 'Description' %>
            <%= f.text_field :description, class:"form-control input" %>
          </div>
          <div class="form-group">
            <%= f.label :date, 'Event Date' %>
            <%= f.datetime_select :date, class:"form-control input" %>
          </div>
          <div class="form-group">
            <%= f.label :guests, 'GUESTS' %>
            <%= f.select :guests, (1..20), class:"form-control input" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit 'BOOK!', class:"btn btn-default btn-homepage" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
