<div class="wrapper">
  <!-- <%= link_to "BACK", category_path(@activity.category) %> -->
  <div class="activity-show-card">
    <div class="activity-photo" style="background-image: linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%), url('<%= cl_image_path @activity.photo %>');">
      <h2 class="text-center" style="color: white;"><%= @activity.title %></h2>
    </div>
    <div class="activity-info">
      <div class="container">
        <p><%= @activity.description %></p>
        <hr>
        <p>address: <%= @activity.location %></p>
        <p>phone: <%= @activity.phone.empty? ? 'Phone number not available' : @activity.phone %></p>
        <p>price: <strong><%= @activity.price %></strong></p>
      </div>
      <div
        id="map"
        style="width: 100%;
        height: 30vh;
        margin: 10px 0;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <div class="card-links">
        <div class="left-link-div">
          <%= link_to category_path(@activity.category) do %>
            <i class="fas fa-long-arrow-alt-left" style="font-size: 25px;"></i>
          <% end %>
        </div>
        <div class="right-link-div" id="right_link_div_<%= @activity.id %>">
          <button type="button" class="btn btn-default btn-homepage" data-toggle="modal" data-target="#exampleModalCenter" style="border: none; padding: 0; margin: 0;">
            <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
          </button>
          <%= link_to "http://www.instagram.com/#{@activity.instagram}" do %>
            <i class="fab fa-instagram" style="font-size: 25px;"></i>
          <% end %>
          <% unless Wish.where(user: current_user, activity: @activity).count.zero? %>
            <%= link_to wish_path(Wish.where(user: current_user, activity: @activity).first.id), method: :delete, remote: true, id: "activity_#{@activity.id}" do %>
              <i class="fas fa-heart" style="color: #ED4956; font-size: 25px;"></i>
            <% end %>
          <% else %>
            <%= link_to activity_wishes_path(@activity), method: :post, remote: true, id: "activity_#{@activity.id}" do %>
              <i class="far fa-heart" style="font-size: 25px;"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <button type="button" class="btn btn-default btn-homepage" data-toggle="modal" data-target="#exampleModalCenter">
      Create Event
    </button>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              <h2 class="modal-title" id="exampleModalLongTitle">Create Your event</h2>
            </div>
            <%= form_for [@activity, @event] do |f| %>
            <div class="modal-body">
              <div class="form-group">
                <%= f.label :title, 'Title' %>
                <%= f.text_field :title, class:"form-control input" %>
              </div>
              <div class="form-group">
                <%= f.label :description, 'Description' %>
                <%= f.text_field :description, class:"form-control input" %>
              </div>
              <div class="form-group">
                <%= f.label :date, 'Event Date' %>
                <%= f.datetime_select :date, class:"form-control input" %>
              </div>
              <div class="form-group">
                <%= f.label :guests, 'GUESTS' %>
                <%= f.select :guests, (1..20), class:"form-control input" %>
              </div>
            </div>
            <div class="modal-footer">
              <%= f.submit 'BOOK!', class:"btn btn-default btn-homepage" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>


